.wrapper {
    --search-button-width: 52px;
    --search-width: 500px;

    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: var(--default-layout-header-height);
    width: 100%;
    top: 0;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
    padding-right: 24px;
    padding-left: 16px;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
}

.logo {
    margin: auto 0;
    min-width: 300px;
}
.actions {
    display: flex;
    align-items: center;
    .action-header {
        min-width: auto;
        background-color: transparent;
        margin-left: 16px;
        height: 36px;
        cursor: pointer;
    }
}
.more-btn {
    font-size: 2rem;
    padding: 0 4px;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
    width: 28px;
}
.upload-btn {
    padding: 0px 20.3px;
}
.avatar-header {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
