@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    //Default Layout
    --default-layout-header-height: 60px;

    --primaty: rgba(254, 44, 85, 1);
    --black: black;
    --red: red;
    --white: white;
    --text-color: #333;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
