.wrapper {
    margin-top: var(--default-layout-header-height);
    display: flex;
    width: 100vw;
    max-width: 100vw;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
}
.container {
    display: flex;
    width: 100%;
}
.content {
    flex: 1;
    background-color: red;
}
